<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contactate con Nosotras</title>

    <!-- Responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- SEO -->
    <meta name="keywords" content="ropa, mujeres, tienda, arribo, verano, invierno">

    <!-- Descripcion -->
    <meta name="description" content="">

    <!-- Nuestro Estilo -->
    <link rel="stylesheet" href="../estilos/styleContacto.css">
    <link rel="stylesheet" href="../estilos/style.css">

    <!-- FontAwesone ICONO -->
    <script src="../js/all.min.js"></script>


</head>

<body>
    <header>
        <!-- Menu -->
        <nav class="menu">

            <div class="menu_container">

                <h1 class="menu_logo">Arribo Tienda <i class="far fa-paper-plane"></i></h1>

                <label for="menu" class="menu_label">
                    <img src="assets/menu.svg" class="menu_img">
                </label>
                <input type="checkbox" id="menu" class="menu_input">

                <div class="nav_menu">
                    <a href="../index.html" class="menu_item">Inicio</a>
                    <a href="" class="menu_item">Catalogo</a>
                    <a href="" class="menu_item">Nosotras</a>
                </div>

            </div>

        </nav>
        <!-- ******* -->
    </header>

    <main>

        <!-- Telefonos -->
        <section class="telefonos">
            <div class="telefono">
                <div class="telUtiles">
                    <h2>Telefonos Utiles <i class="fas fa-mobile-alt"></i></h2>
                    <h5>Comunicate con nosotras desde cualquier parte del pais</h5>
                </div>

                <div class="numeros">
                    <h3>Compras</h3>
                    <h4>XXXX-XXXX</h4><br>

                    <h3>Cambios</h3>
                    <h4>XXXX-XXXX</h4><br>

                    <h3>Venta Mayorista</h3>
                    <h4>XXXX-XXXX</h4>
                </div>

            </div>

        </section>
        <!-- ************************* -->

        <section class="formulario">
            <div>
                <h3>Dejanos tu consulta</h3>
            </div>
            <input class="campo" type="text" name="nombre" placeholder="Nombre" required>
            <input class="campo" type="email" name="email" placeholder="E-mail" required>
            <input class="campo" type="text" name="telefono" placeholder="Telefono" required>
            <input class="campoConsulta" type="text" name="consulta" placeholder="Consulta" required>
            <input class="boton" type="submit" value="Enviar">
        </section>



    </main>









    <footer class="pie-pagina">
        <div class="grupo1">
            <div class="box">
                <figure>
                    <a href="#">
                        <img src="../imagenes/paperPlane.png" alt="ArriboTienda">
                    </a>
                </figure>
            </div>
            <div class="box">
                <h2>DONDE ENCONTRARNOS</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel, quisquam?</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel, quisquam?</p>
            </div>
            <div class="box">
                <h2>SIGUENOS</h2>
                <div class="red-social">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-whatsapp"></i></a>
                    <a href="#"><i class="far fa-envelope"></i></a>
                </div>
            </div>
        </div>

        <div class="grupo2">
            <small>
                <i class="far fa-copyright"></i> 2021 <b>Arribo Tienda</b> - Todos los derechos reservados
            </small>
        </div>

    </footer>
</body>

</html>